@media (max-width: 992px) {

    .servicios-container,
    .caso-container,
    .valores-container {

        grid-template-columns: repeat(2, 1fr);
    }

    .mision-vision {

        grid-template-columns: 1fr;
    }

    .servicios-detalle-container {

        grid-template-columns: repeat(2, 1fr);
    }

    .portfolio-container {

        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {

    .navbar {

        flex-direction: column;

        gap: 20px;

        padding: 20px;
    }

    .menu {

        flex-wrap: wrap;

        justify-content: center;
    }

    .hero-content h1 {

        font-size: 3.0rem;
    }

    .historia {

        flex-direction: column;
    }

    .historia-imagen {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .historia-imagen img {
        width: 100%;
        height: auto;
        max-width: 100%;
        display: block;
    }

    .estadisticas-section {

        flex-direction: column;

        gap: 40px;
    }

    .footer-container {

        flex-direction: column;
    }

    .contacto {

        grid-template-columns: 1fr;
    }
}

@media (max-width: 576px) {

    .servicios-container,
    .caso-container,
    .valores-container {

        grid-template-columns: 1fr;
    }

    .hero-content h1 {

        font-size: 3.0rem;
    }

    .banner-pagina h1 {

        font-size: 3rem;
    }

    .servicios-detalle-container {

        grid-template-columns: 1fr;
    }

    .portfolio-container {

        grid-template-columns: 1fr;
    }
}


